/patel_nishant_AED_A1/JavaApplication5/nbproject/private/
/patel_nishant_AED_A2/FoodTasteBlog/nbproject/private/
/JavaApplication5/build/
/JavaApplication5/dist/
/JavaApplication5/nbproject/private/
/GoodFoodBlog _AED_A1/build/
/GoodFoodBlog _AED_A1/dist/
/GoodFoodBlog _AED_A1/nbproject/private/
